    /*
    Flaticon icon font: Flaticon
    Creation date: 26/06/2020 10:58
    */

    @font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff2") format("woff2"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

    .fi:before{
        display: inline-block;
  font-family: "Flaticon";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
    }

    .flaticon-web-browser:before { content: "\f100"; }
.flaticon-user:before { content: "\f101"; }
.flaticon-youtube:before { content: "\f102"; }
.flaticon-video:before { content: "\f103"; }
.flaticon-placeholder:before { content: "\f104"; }
.flaticon-location:before { content: "\f105"; }
.flaticon-flag:before { content: "\f106"; }
.flaticon-real-state:before { content: "\f107"; }
.flaticon-home:before { content: "\f108"; }
.flaticon-settings:before { content: "\f109"; }
.flaticon-settings-1:before { content: "\f10a"; }
.flaticon-admin:before { content: "\f10b"; }
.flaticon-settings-2:before { content: "\f10c"; }
.flaticon-optimization:before { content: "\f10d"; }
.flaticon-settings-3:before { content: "\f10e"; }
.flaticon-layout:before { content: "\f10f"; }
.flaticon-team:before { content: "\f110"; }
.flaticon-browser:before { content: "\f111"; }
.flaticon-online-education:before { content: "\f112"; }
.flaticon-computer:before { content: "\f113"; }
.flaticon-translator:before { content: "\f114"; }
.flaticon-document:before { content: "\f115"; }
.flaticon-favorite:before { content: "\f116"; }
.flaticon-list:before { content: "\f117"; }
.flaticon-rec:before { content: "\f118"; }
.flaticon-coupon:before { content: "\f119"; }
.flaticon-teacher:before { content: "\f11a"; }
.flaticon-customer:before { content: "\f11b"; }
.flaticon-graduation:before { content: "\f11c"; }
.flaticon-shopping-cart:before { content: "\f11d"; }
.flaticon-browser-1:before { content: "\f11e"; }
.flaticon-faq:before { content: "\f11f"; }
.flaticon-chat:before { content: "\f120"; }
.flaticon-payment:before { content: "\f121"; }
.flaticon-pending:before { content: "\f122"; }
.flaticon-file:before { content: "\f123"; }
.flaticon-report:before { content: "\f124"; }
.flaticon-error:before { content: "\f125"; }
.flaticon-question-mark:before { content: "\f126"; }
.flaticon-question:before { content: "\f127"; }
.flaticon-tools:before { content: "\f128"; }
.flaticon-slider-tool:before { content: "\f129"; }
.flaticon-sliders:before { content: "\f12a"; }
.flaticon-sliders-1:before { content: "\f12b"; }
.flaticon-document-1:before { content: "\f12c"; }
.flaticon-shuttle:before { content: "\f12d"; }
.flaticon-project-management:before { content: "\f12e"; }
.flaticon-honesty:before { content: "\f12f"; }
.flaticon-folder:before { content: "\f130"; }
.flaticon-rate:before { content: "\f131"; }
.flaticon-digital-marketing:before { content: "\f132"; }
.flaticon-personal-information:before { content: "\f133"; }
.flaticon-smartphone:before { content: "\f134"; }
.flaticon-fast-time:before { content: "\f135"; }
.flaticon-terms-and-conditions:before { content: "\f136"; }
.flaticon-insurance:before { content: "\f137"; }
.flaticon-bank:before { content: "\f138"; }
.flaticon-responsive-design:before { content: "\f139"; }
.flaticon-video-1:before { content: "\f13a"; }
.flaticon-video-advertising:before { content: "\f13b"; }
.flaticon-mobile-marketing:before { content: "\f13c"; }
.flaticon-turntable:before { content: "\f13d"; }
.flaticon-translation:before { content: "\f13e"; }
.flaticon-phone-book:before { content: "\f13f"; }
.flaticon-interface:before { content: "\f140"; }
.flaticon-book:before { content: "\f141"; }
.flaticon-shopping-cart-1:before { content: "\f142"; }
.flaticon-document-2:before { content: "\f143"; }
.flaticon-customer-1:before { content: "\f144"; }
.flaticon-live:before { content: "\f145"; }
.flaticon-live-1:before { content: "\f146"; }
.flaticon-money:before { content: "\f147"; }
.flaticon-wallet:before { content: "\f148"; }
.flaticon-money-1:before { content: "\f149"; }
.flaticon-followers:before { content: "\f14a"; }
.flaticon-online-business:before { content: "\f14b"; }
.flaticon-questions:before { content: "\f14c"; }
.flaticon-help:before { content: "\f14d"; }
.flaticon-test:before { content: "\f14e"; }
.flaticon-heart:before { content: "\f14f"; }
.flaticon-shopping-bag:before { content: "\f150"; }
.flaticon-smartphone-1:before { content: "\f151"; }
.flaticon-email:before { content: "\f152"; }
.flaticon-share:before { content: "\f153"; }
    
    $font-Flaticon-web-browser: "\f100";
    $font-Flaticon-user: "\f101";
    $font-Flaticon-youtube: "\f102";
    $font-Flaticon-video: "\f103";
    $font-Flaticon-placeholder: "\f104";
    $font-Flaticon-location: "\f105";
    $font-Flaticon-flag: "\f106";
    $font-Flaticon-real-state: "\f107";
    $font-Flaticon-home: "\f108";
    $font-Flaticon-settings: "\f109";
    $font-Flaticon-settings-1: "\f10a";
    $font-Flaticon-admin: "\f10b";
    $font-Flaticon-settings-2: "\f10c";
    $font-Flaticon-optimization: "\f10d";
    $font-Flaticon-settings-3: "\f10e";
    $font-Flaticon-layout: "\f10f";
    $font-Flaticon-team: "\f110";
    $font-Flaticon-browser: "\f111";
    $font-Flaticon-online-education: "\f112";
    $font-Flaticon-computer: "\f113";
    $font-Flaticon-translator: "\f114";
    $font-Flaticon-document: "\f115";
    $font-Flaticon-favorite: "\f116";
    $font-Flaticon-list: "\f117";
    $font-Flaticon-rec: "\f118";
    $font-Flaticon-coupon: "\f119";
    $font-Flaticon-teacher: "\f11a";
    $font-Flaticon-customer: "\f11b";
    $font-Flaticon-graduation: "\f11c";
    $font-Flaticon-shopping-cart: "\f11d";
    $font-Flaticon-browser-1: "\f11e";
    $font-Flaticon-faq: "\f11f";
    $font-Flaticon-chat: "\f120";
    $font-Flaticon-payment: "\f121";
    $font-Flaticon-pending: "\f122";
    $font-Flaticon-file: "\f123";
    $font-Flaticon-report: "\f124";
    $font-Flaticon-error: "\f125";
    $font-Flaticon-question-mark: "\f126";
    $font-Flaticon-question: "\f127";
    $font-Flaticon-tools: "\f128";
    $font-Flaticon-slider-tool: "\f129";
    $font-Flaticon-sliders: "\f12a";
    $font-Flaticon-sliders-1: "\f12b";
    $font-Flaticon-document-1: "\f12c";
    $font-Flaticon-shuttle: "\f12d";
    $font-Flaticon-project-management: "\f12e";
    $font-Flaticon-honesty: "\f12f";
    $font-Flaticon-folder: "\f130";
    $font-Flaticon-rate: "\f131";
    $font-Flaticon-digital-marketing: "\f132";
    $font-Flaticon-personal-information: "\f133";
    $font-Flaticon-smartphone: "\f134";
    $font-Flaticon-fast-time: "\f135";
    $font-Flaticon-terms-and-conditions: "\f136";
    $font-Flaticon-insurance: "\f137";
    $font-Flaticon-bank: "\f138";
    $font-Flaticon-responsive-design: "\f139";
    $font-Flaticon-video-1: "\f13a";
    $font-Flaticon-video-advertising: "\f13b";
    $font-Flaticon-mobile-marketing: "\f13c";
    $font-Flaticon-turntable: "\f13d";
    $font-Flaticon-translation: "\f13e";
    $font-Flaticon-phone-book: "\f13f";
    $font-Flaticon-interface: "\f140";
    $font-Flaticon-book: "\f141";
    $font-Flaticon-shopping-cart-1: "\f142";
    $font-Flaticon-document-2: "\f143";
    $font-Flaticon-customer-1: "\f144";
    $font-Flaticon-live: "\f145";
    $font-Flaticon-live-1: "\f146";
    $font-Flaticon-money: "\f147";
    $font-Flaticon-wallet: "\f148";
    $font-Flaticon-money-1: "\f149";
    $font-Flaticon-followers: "\f14a";
    $font-Flaticon-online-business: "\f14b";
    $font-Flaticon-questions: "\f14c";
    $font-Flaticon-help: "\f14d";
    $font-Flaticon-test: "\f14e";
    $font-Flaticon-heart: "\f14f";
    $font-Flaticon-shopping-bag: "\f150";
    $font-Flaticon-smartphone-1: "\f151";
    $font-Flaticon-email: "\f152";
    $font-Flaticon-share: "\f153";